.footer {
  background-color: #000000;
  padding: 30px 0;
  & .container {
    @include flex($just-content: space-between, $f-dir: row);
  }
  & .logo {
    color: #ffffff;
    font-weight: normal;
    font-size: $global-font-size;
  }
}