.section {
  position: relative;
  z-index: 0;
  padding: 20px 15px;
  &-background {
    @include position;
    position: absolute;
    z-index: -2;
  }
  &-background > img {
    object-fit: cover;
    height: 100%;
  }
  &-foreground {
    padding: 50px 0;
  }
  &-hero {
    padding: 0 15px;
    &-title {
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 25px;
    }
    &-desc {
      color: #ffffff;
      margin-bottom: 25px;
    }
  }
  &-title {
    color: #000000;
  }
  &-services .section-title {
    text-align: center;
  }
  &-discuss .section-title {
    text-align: center;
  }
}

@media(min-width: 640px) {
  .section {
    padding: 40px 15px;
    &-foreground {
      padding: 50px 0;
    }
    &-title {
      margin-bottom: 50px;
    }
  }
}

@media(min-width: 960px) {
  .section .section-desc {
    padding-left: 30px;
  }
  .section-foreground {
    padding: 150px 0;
  }
}