$global-font-size: 16px;
$global-font-family: 'Arial', sans-serif;
$global-background-color: #ffffff;
$global-color: #a3a3a3;

@mixin flex($flex: flex, $f-dir: column, $al-items: center, $just-content: center, $f-wrap: wrap) {
  display: $flex;
  flex-direction:  $f-dir;
  align-items: $al-items;
  justify-content: $just-content;
  flex-wrap: $f-wrap;
}

@mixin position {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
